<template>
  <CategoryForm
    v-model:category="category"
    @save="save"
    :load-spinner="loadSpinner"
  />
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import CategoryForm from '@/components/CategoryForm'
import { locales } from '@/constants'

export default {
  components: { CategoryForm },
  name: 'AddCategory',
  props: ['id'],
  data() {
    let categoryLocales = {}
    locales.forEach((item) => (categoryLocales[item] = {}))

    for (let locale in categoryLocales) {
      categoryLocales[locale].name = ''
    }

    return {
      loadSpinner: false,
      category: {
        locales: categoryLocales,
        icon: 'dish',
      },
    }
  },
  methods: {
    save() {
      this.loadSpinner = true
      return this.$http
        .post('/categories', this.category)
        .then(() => {
          this.$toast.success('Добавлено')
          this.$router.push('/categories')
        })
        .catch(({ response: { data } }) => {
          let errors = ''
          for (let key in data.errors) {
            errors += data.errors[key] + '<br/>'
          }
          this.$toast.error('Ошибка в добавлении: <br />' + errors)
          this.loadSpinner = false
        })
    },
  },
}
</script>

<style scoped></style>
