`
<template>
  <div>
    <el-row>
      <el-col :xs="24" :sm="16">
        <el-card>
          <template #header>
            <strong>Список категорий</strong>
          </template>
          <div>
            <div class="headerblock">
              <div class="btn-block">
                <el-button
                  v-if="!sorting"
                  type="primary"
                  @click="$router.push({ name: 'category-add' })"
                  >Добавить</el-button
                >
                <el-button
                  v-if="sorting"
                  type="primary"
                  class="add_btn"
                  @click="saveSorting"
                >
                  Сохранить
                </el-button>
                <el-button
                  type="info"
                  @click="$router.push({ name: 'category-sort' })"
                >
                  <span class="btn-text"> Изменить порядок </span>
                  <span class="btn-icon">
                    <CIcon :icon="cilSortDescending" size="lg"></CIcon>
                  </span>
                </el-button>
              </div>
            </div>
            <el-table v-if="!sorting" :data="categories" v-loading="loading">
              <el-table-column prop="id" label="Id" width="60px" />
              <el-table-column prop="name">
                <template #header>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    Название
                    <el-select v-model="locale" style="width: 80px">
                      <el-option
                        v-for="(locale, index) in locales"
                        :key="index"
                        :value="locale"
                      ></el-option>
                    </el-select>
                  </div>
                </template>
                <template #default="scope">
                  {{ scope.row?.locales[locale].name }}
                </template>
              </el-table-column>
              <el-table-column label="Иконка">
                <template #default="scope">
                  <img
                    :src="'/category-icons/' + scope.row.icon + '.svg'"
                    alt=""
                    width="50"
                  />
                </template>
              </el-table-column>
              <el-table-column
                class="operations"
                fixed="right"
                label="Action"
                header-align="center"
                width="80px"
              >
                <template #default="scope">
                  <div class="btns">
                    <el-button
                      class="btn-edit"
                      @click="editCategory(scope.row.id)"
                    >
                      <span>
                        <CIcon :icon="cilPenAlt" size="lg"></CIcon>
                      </span>
                    </el-button>
                    <router-view></router-view>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import CIcon, { cilPenAlt, cilSortDescending } from '@coreui/icons'
import { locales } from '@/constants'

export default {
  name: 'CategoryList',
  components: { CIcon },
  data() {
    return {
      locales,
      locale: 'ru',
      sorting: false,
      loading: true,
      cilPenAlt,
      cilSortDescending,
      categories: [],
      sortCategory: [],
    }
  },
  methods: {
    editCategory(id) {
      this.$router.push({ name: 'category-edit', params: { id } })
    },
  },
  mounted() {
    this.$http.get('categories').then(({ data }) => {
      this.categories = data.data
      this.loading = false
    })
  },
}
</script>

<style scoped>
.headerblock {
  display: flex;
  justify-content: space-between;
}
.btn-icon {
  display: none;
}
</style>
