<template>
  <el-row>
    <el-col :xs="24" :lg="16">
      <el-card>
        <template #header>
          <strong>Сортировка категорий</strong>
        </template>
        <el-button type="primary" @click="saveSorting"> Сохранить </el-button>
        <el-button type="info" @click="goBack"> Отменить </el-button>
        <div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>№</th>
                <th>Имя</th>
              </tr>
            </thead>
            <draggable item-key="id" tag="tbody" v-model="categories">
              <template #item="{ element, index }">
                <tr class="cursor">
                  <td>{{ index + 1 }}</td>
                  <td>{{ element.locales.ru.name }}</td>
                </tr>
              </template>
            </draggable>
          </table>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import draggable from 'vuedraggable'
export default {
  name: 'CategorySort',
  components: { draggable },
  data() {
    return {
      categories: [],
    }
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'category-list' })
    },
    saveSorting() {
      this.sortCategory = this.categories.map((item, index) => {
        return { id: item.id, position: index + 1 }
      })
      this.$http
        .post('/categories/positions', { data: this.sortCategory })
        .then(() => {
          this.$toast.success('Изменение сохранено')
          this.$router.push({ name: 'category-list' })
        })
        .catch(() => this.$toast.error('Ошибка в изменении'))
    },
  },
  mounted() {
    this.$http.get('categories').then(({ data }) => {
      this.categories = data.data
      this.loading = false
    })
  },
}
</script>

<style scoped>
.cursor {
  cursor: move;
}
</style>
