<template>
  <h4 class="notqr">Генерация QR не доступно на вашем устройстве</h4>
  <div class="main">
    <div class="selectQrStyle">
      <el-form>
        <el-form-item label="Выбрать стиль QR">
          <el-select v-model="selectStyle">
            <el-option label="Стандартный" value="standard"
              >Стандартный</el-option
            >
            <el-option label="Широкий" value="wide">Широкий</el-option>
            <el-option label="Маленкий" value="minimal">Маленкий</el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>

    <div class="standart">
      <QrStandart
        v-model:restaurant="restaurant"
        v-if="selectStyle === 'standard'"
      />
      <QrWide v-model:restaurant="restaurant" v-if="selectStyle === 'wide'" />
      <QrOnly
        v-model:restaurant="restaurant"
        v-if="selectStyle === 'minimal'"
      />
      <SettingsQr @save="save" />
    </div>
    <div id="canvasblock" class="canvasblock">
      <div id="canvas"></div>
      <div @click="close" class="closeimg">
        <img type="button" @click="close" src="/x.svg" alt="" />
        <div class="closeimg-text">
          <p>Нажмите <b>ctrl + p</b>, чтобы напечатать картинку</p>
          <p>или нажмите на картинку правой кнопкой мыши, чтобы сохранить</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
import QrStandart from '@/components/QrStandart'
import QrWide from '@/components/QrWide'
import QrOnly from '@/components/QrOnly'
import SettingsQr from '@/components/QrSettings'

export default {
  name: 'Generatingqr',
  components: { SettingsQr, QrOnly, QrWide, QrStandart },
  data() {
    return {
      selectStyle: 'standard',
      restaurant: {},
    }
  },

  methods: {
    save() {
      html2canvas(document.querySelector('#block'), { scale: 2 }).then(
        (canvas) => {
          this.downloadImage(canvas.toDataURL('image/png'))
        },
      )
    },
    close() {
      document.querySelector('#canvasblock').style.display = 'none'
      document.querySelector('canvas').remove()
    },
    downloadImage(url) {
      let a = document.createElement('a')
      document.body.appendChild(a)
      a.href = url
      a.download = this.selectStyle
      a.click()
      window.URL.revokeObjectURL(url)
      a.remove()
    },
  },
  mounted() {
    this.$http.get('/restaurant').then(({ data }) => {
      this.restaurant = data.data
    })
  },
}
</script>

<style scoped>
.selectQrStyle {
  margin: 0 auto;
}
.canvasblock {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999998;
  width: 100%;
  height: 100%;
}
.closeimg {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.closeimg img {
  position: absolute;
  left: 50%;
  top: 10px;
}
.closeimg-text {
  position: absolute;
  left: 70%;
  top: 200px;
  color: #ffffff;
}
.standart {
  display: flex;
  justify-content: space-between;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(0.8);
  z-index: 99999999;
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s,
    opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s,
    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.notqr {
  display: none;
}
@media screen and (max-width: 960px) {
  .main {
    display: none;
  }
  .notqr {
    display: block;
  }
}
</style>
