<template>
  <CModal :visible="visibleDelete" @close="visibleDelete = false">
    <CModalHeader>
      <CModalTitle>Подтвердите действие</CModalTitle>
    </CModalHeader>
    <CModalBody>Вы хотите удалить еду?</CModalBody>
    <CModalFooter>
      <CButton color="secondary" @click="visibleDelete = false">
        Отменить
      </CButton>
      <CButton color="primary" @click="deleteRequest">Удалить</CButton>
    </CModalFooter>
  </CModal>
  <CModal :visible="showActivityModal" @close="showActivityModal = false">
    <CModalHeader>
      <CModalTitle>Подтвердите действие</CModalTitle>
    </CModalHeader>
    <CModalBody>
      {{ activeValue ? 'Показать позицию в меню?' : 'Скрыть позицию из меню?' }}
    </CModalBody>
    <CModalFooter>
      <CButton color="secondary" @click="showActivityModal = false">
        Отменить
      </CButton>
      <CButton color="primary" @click="activityRequest">Подтвердить</CButton>
    </CModalFooter>
  </CModal>
  <el-card class="listcard">
    <template #header>
      <strong>Список позиций</strong>
    </template>
    <div class="search">
      <form class="form-inline search-form">
        <div class="btn-block">
          <el-button type="primary" class="add_btn" @click="addMeal">
            Добавить новую
          </el-button>
          <el-tooltip
            :disabled="!disabledBtn"
            class="box-item"
            effect="dark"
            content="Для изменении порядка выберите категорию"
            placement="top"
          >
            <span style="margin-left: 20px">
              <el-button
                :disabled="disabledBtn"
                type="info"
                @click="goToSort(selectCategory)"
              >
                <span class="btn-text">Изменить порядок</span>
                <span class="btn-icon">
                  <CIcon :icon="cilSortDescending" size="lg"></CIcon>
                </span>
              </el-button>
            </span>
          </el-tooltip>
        </div>
        <div class="sorts">
          <el-select
            id="inputCategory"
            placeholder="Выберите категорию"
            v-model="selectCategory"
            @change="setSelectCategory"
          >
            <el-option value="">Все</el-option>
            <el-option
              v-for="(category, index) in categories"
              :key="index"
              :value="category.id"
              :label="category.locales['ru'].name"
            ></el-option>
          </el-select>
        </div>
      </form>
    </div>
    <el-card-body>
      <el-table :data="items" style="width: 100%" v-loading="loading">
        <el-table-column prop="id" label="Id" width="70px" />
        <el-table-column prop="name">
          <template #header>
            <div class="d-flex justify-content-between align-items-center">
              Название
              <el-select v-model="locale" style="width: 80px">
                <el-option
                  v-for="(locale, index) in locales"
                  :key="index"
                  :value="locale"
                ></el-option>
              </el-select>
            </div>
          </template>
          <template #default="scope">
            {{ scope.row.locales[locale].name }}
          </template>
        </el-table-column>
        <el-table-column label="Фото" width="120px">
          <template #default="scope">
            <div v-if="scope.row.photos.length" class="photos">
              <img class="meal-photo" :src="scope.row.photos[0]?.thumbnail" alt="" />
              <span>({{scope.row.photos.length}})</span>
            </div>
            <div v-else>Нет фото</div>
          </template>
        </el-table-column>
        <el-table-column prop="category" width="150px" label="Категоия" />
        <el-table-column label="Цена" width="130px">
          <template #default="scope">
            <div v-for="item in scope.row.prices" :key="item">
              <span
                >{{ item.quantity }} {{ priceMeasures(item.measure) }}
                {{ item.price }}с</span
              >
            </div>
          </template>
        </el-table-column>
        <el-table-column label="Активность" width="100px">
          <template #default="scope">
            <el-switch
              :model-value="!!scope.row.is_active"
              @click="confirmActivityAction(scope.row)"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column
          class="operations"
          fixed="right"
          label="action"
          header-align="center"
        >
          <template #default="scope">
            <div class="btns">
              <el-button class="btn-edit" @click="editProduct(scope.row.id)"
                ><span class="btn-text">Изменить</span>
                <span class="btn-icon">
                  <CIcon :icon="cilPenAlt" size="lg"></CIcon>
                </span>
              </el-button>
              <router-view></router-view>

              <el-button
                class="btn-delete"
                @click="deleteConfirm(scope.row.id)"
              >
                <span class="btn-text">Удалить</span>
                <span class="btn-icon">
                  <CIcon :icon="cilTrash" size="lg"></CIcon>
                </span>
              </el-button>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </el-card-body>
  </el-card>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import CIcon from '@coreui/icons'
import { cilTrash, cilPenAlt, cilSortDescending } from '@coreui/icons'
import { mapActions, mapGetters } from 'vuex'
import { locales } from '@/constants'

export default {
  name: 'MealList',
  components: {
    CIcon,
  },
  data() {
    return {
      locale: 'ru',
      locales,
      visibleDelete: false,
      showActivityModal: false,
      loading: true,
      categories: [],
      products: [],
      sortedProducts: [],
      cilPenAlt,
      cilTrash,
      cilSortDescending,
      deleteId: '',
      isActiveId: '',
      activeValue: '',
    }
  },
  computed: {
    ...mapGetters(['selectCategory']),
    items() {
      if (this.selectCategory) {
        return this.products.filter(
          (item) => item.category_id === this.selectCategory,
        )
      }
      return this.products
    },
    disabledBtn() {
      return this.selectCategory === ''
    },
  },
  methods: {
    ...mapActions(['setSelectCategory']),
    addMeal() {
      this.$router.push({
        name: 'meal-add',
      })
    },
    confirmActivityAction(element) {
      this.showActivityModal = true
      this.isActiveId = element.id
      this.activeValue = +!element.is_active
    },
    activityRequest() {
      this.$http
        .put('/meals/' + this.isActiveId + '/activity', {
          state: this.activeValue,
        })
        .then(() => {
          this.products.map((item) => {
            if (item.id == this.isActiveId) {
              item.is_active = this.activeValue
            }
          })
          this.showActivityModal = false
        })
    },
    priceMeasures(item) {
      switch (item) {
        case 'gram':
          return (item = 'грамм')
        case 'portion':
          return (item = 'порция')
        case 'pieces':
          return (item = 'штук')
        default:
          ''
      }
    },
    editProduct(id) {
      this.$router.push({ name: 'meal-edit', params: { id } })
    },
    goToSort(category_id) {
      this.$router.push({ name: 'meal-sort', params: { category_id } })
    },
    deleteConfirm(index) {
      this.visibleDelete = true
      this.deleteId = index
    },
    deleteRequest() {
      this.$http
        .delete('/meals/' + this.deleteId)
        .then(() => {
          this.visibleDelete = false
          this.$toast.success('Удалено')
          this.products = this.products.filter(
            (item) => item.id !== this.deleteId,
          )
        })
        .catch(() => {
          this.$toast.error('Ошибка в удалении')
        })
    },
  },
  mounted() {
    this.$http.get('meals').then(({ data }) => {
      this.products = data.data
      this.loading = false
    })
    this.$http.get('/categories').then(({ data }) => {
      this.categories = data.data
    })
  },
}
</script>

<style scoped>
.listcard {
  max-width: 100%;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
}

.search {
  margin: 10px;
}
.search-form {
  display: flex;
  justify-content: space-between;
}

el-table {
  margin: 20px 0;
}
.btns {
  display: inline-flex;
}
.btn-edit {
  width: 100px;
  --el-button-text-color: var(--el-color-primary);
}
.btn-delete {
  width: 100px;
  --el-button-text-color: #f53535;
  --el-button-hover-text-color: #f53535;
  --el-button-hover-bg-color: rgba(245, 53, 53, 0.16);
  --el-button-hover-border-color: rgba(245, 53, 53, 0.16);
  --el-button-active-border-color: #f53535;
}
.btn-icon {
  display: none;
}
.operations {
  padding-right: 15px;
  width: 200px;
}
.sorts {
  display: flex;
  justify-content: end;
}
.add_btn {
  color: #fff;
  font-weight: 500;
}
.meal-photo {
  width: 70px;
}

/*Media screen*/
@media screen and (max-width: 960px) {
  .listcard {
    padding: 10px 0;
  }
  .sorts {
    justify-content: left;
    margin-top: 5px;
  }
  .btns {
    display: block;
  }
  .btns button {
    margin-bottom: 3px;
  }
  .el-table th.el-table__cell .cell {
    padding: 0;
  }
  .btn-delete {
    width: 60px;
    margin-left: 0;
    --el-button-text-color: #f53535;
    --el-button-border-color: rgba(245, 53, 53, 0.16);
  }
  .btn-edit {
    width: 60px;
  }
  .btn-text {
    display: none;
  }
  .btn-icon {
    display: block;
  }
  .el-table th.el-table__cell > .cell {
    font-size: 12px !important;
  }
  .el-table .cell {
    font-size: 13px !important;
  }
  .search-form {
    flex-direction: column;
  }
  .sorts {
    align-items: center;
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
  }
}
</style>
