<!DOCTYPE html>
<html lang="">
  <head>
      <meta property="og:title" content="ARTMIX - цифровое qr меню">
      <meta property="og:description" content="Удобный и быстрый онлайн меню для вашего ресторана. QR-Меню доступно онлайн в телефоне гостя, можно не ждать официанта">
      <meta property="og:url" content="https://mr.kg">
      <meta property="og:image" content="/icons/logo-fav.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Удобный и быстрый онлайн меню для вашего ресторана. QR-Меню доступно онлайн в телефоне гостя, можно не ждать официанта">
    <title>ARTMIX - цифровое qr меню</title>
  </head>
  <body style="margin: 0; padding: 0; box-sizing: border-box">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
