<template>
  <div>
    <CRow>
      <CCol :md="12">
        <CCard class="mb-4">
          <CCardBody>
            <CRow>
              <CCol :sm="5">
                <h4 id="traffic" class="card-title mb-0">Скоро...</h4>
              </CCol>
            </CRow>
            <CRow>
              <CCol>
                <div class="text">
                  <h5>Аналитика меню</h5>
                  <h5>Рекомендуемые блюда</h5>
                  <h5>Новинки</h5>
                </div>
              </CCol>
            </CRow>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>

export default {
  name: 'Dashboard',
  components: {},
  setup() {

    return {
    }
  },
  beforeCreate() {
    this.$http.get('/user')
  },
}
</script>
<style lang="scss">
.text {
  text-align: center;
  margin: 100px;
  h5 {
    margin-bottom: 50px;
  }
}
</style>
