<template>
  <el-container class="div">
    <header class="header">
      <div class="hero-logo">
        <router-link :to="'/'"
          ><img src="/icons/artmix.jpeg" alt=""
        /></router-link>
        <strong>ARTMIX</strong>
      </div>
      <el-menu
        active-text-color="#f89007"
        class="el-menu-demo"
        mode="horizontal"
      >
        <el-menu-item index="1">
          <a href="#titleblock">Кафе - Рестораны</a></el-menu-item
        >
        <el-menu-item index="3"
          ><a href="#qr">Что такое QR-Menu</a></el-menu-item
        >
        <el-menu-item index="4"><a href="#kak">Как работает</a></el-menu-item>
        <el-menu-item index="5"><a href="#polza">Польза</a></el-menu-item>
        <el-menu-item index="6"
          ><a href="#poprobuy">Попробовать</a></el-menu-item
        >
      </el-menu>
    </header>
    <el-main style="--el-main-padding: 0">
      <div class="titleblock" id="titleblock">
        <h1 class="cafe">ARTMIX - QR Меню</h1>
      </div>
      <div class="block">
        <div v-for="item in client" :key="item" class="client">
          <router-link :to="'/' + item.slug" class="client-link">
            <el-card :body-style="{ padding: '0px' }">
              <img :src="item.photo_thumbnail" class="image" alt="" />
              <div style="padding: 14px">
                <span style="font-weight: bold; font-size: 20px">{{
                  item.name
                }}</span>
                <div class="bottom"></div>
              </div>
            </el-card>
          </router-link>
        </div>
      </div>
      <section id="qr" class="qr">
        <div class="container">
          <h1 class="hero-title">
            Электронное QR-меню <br />
            для ресторанов и кафе
          </h1>
          <div class="qr-block">
            <div class="qr-block-img1">
              <img src="/img/images/qr/hand-flip.png" alt="" class="qr-phone" />
            </div>
            <div class="qr-block-img2">
              <img src="/img/images/qr/qr-flip.png" alt="" class="qr-flip" />
            </div>
          </div>
        </div>
      </section>
      <section id="kak" class="kak">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="kak-title title">
                Как работает <br />
                QR-меню
              </h1>
              <div class="kak-items">
                <div class="kak-items_icon">
                  <img src="/img/images/icons/menu-m.svg" alt="" class="" />
                </div>

                <p class="kak-items_text">
                  Меню заполняется в онлайн - редакторе
                </p>
              </div>
              <div class="kak-items">
                <div class="kak-items_icon">
                  <img src="/img/images/icons/table-qr-m.svg" alt="" class="" />
                </div>

                <p class="kak-items_text">
                  На столах ресторана <br />размещается QR-код
                </p>
              </div>
              <div class="kak-items">
                <div class="kak-items_icon">
                  <img src="/img/images/icons/qr-m.svg" alt="" class="" />
                </div>

                <p class="kak-items_text">
                  Гость сканирует QR-код <br />
                  и видит меню ресторана
                </p>
              </div>
            </div>
            <div class="col iframenone" style="display: none">
              <div class="iframe"></div>
            </div>
          </div>
        </div>
        <section id="poprobuy" class="poprobuy">
          <div class="container">
            <h1 class="poprobuy-title title">
              Попробуйте в своём <br />
              заведении
            </h1>
            <div class="price-media m-auto">
              <div class="row">
                <div class="col">
                  <div class="price">
                    <h1 class="price-title">
                      <span style="font-size: 60px">3000</span> сом / месяц
                    </h1>
                    <div class="price-border"></div>
                    <h3 class="price-name">Бесконтактное меню</h3>
                    <p class="price-text">
                      Открывается по QR-коду в заведении или по ссылке из
                      Instagram, Facebook
                    </p>
                    <ul class="price-list">
                      <li>Сайт</li>
                      <li>QR-меню</li>
                      <li>Панель управления</li>
                      <li>Живая поддержка</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="poprobuy-text">
              При разовой оплате за 6 месяцев седьмой месяц пользуетесь
              бесплатно
            </h3>
            <div class="col button m-auto">
              <button class="btn btn-outline-light">
                <a href="tel:+996552171111">Попробовать</a>
              </button>
            </div>
          </div>
        </section>
      </section>
      <section id="polza" class="polza">
        <div class="container">
          <h1 class="polza-title title">
            Польза электронного <br />
            меню
          </h1>
          <div class="row mb-4 mr-6">
            <div class="col polza-items">
              <h3 class="polza-items_title">Собственный сайт</h3>
              <p class="polza-items_text">
                Самый красивый, самый быстрый и удобный сайт
              </p>
            </div>
            <div class="col polza-items">
              <h3 class="polza-items_title">Экономия</h3>
              <p class="polza-items_text">
                Избавьтесь от затрат на разработку, поддержку сайта и печать
                меню
              </p>
            </div>
            <div class="col polza-items">
              <h3 class="polza-items_title">Стоп-листы и обновления</h3>
              <p class="polza-items_text">
                Обновляйте стоп-листы на лету, держите актуальное меню под рукой
              </p>
            </div>
          </div>
          <div class="row mb-4 mr-6">
            <div class="col polza-items">
              <h3 class="polza-items_title">Позвать официанта</h3>
              <p class="polza-items_text">
                Пригласить официанта можно со своего смартфона
              </p>
            </div>
            <div class="col polza-items">
              <h3 class="polza-items_title">Всегда под рукой</h3>
              <p class="polza-items_text">
                Меню доступно онлайн в телефоне гостя, можно не ждать официанта
              </p>
            </div>
            <div class="col polza-items">
              <h3 class="polza-items_title">Безопасность во время эпидемии</h3>
              <p class="polza-items_text">
                Минимум контактов с бумажным меню, удобный самовывоз
              </p>
            </div>
          </div>
          <div class="row mb-4 mr-6">
            <div class="col polza-items">
              <h3 class="polza-items_title">Летает на телефонах</h3>
              <p class="polza-items_text">
                Быстрая загрузка, удобный интерфейс, красивый дизайн -
                дружелюбно для пользователей
              </p>
            </div>
            <div class="col polza-items">
              <h3 class="polza-items_title">Удобство для компании</h3>
              <p class="polza-items_text">
                Один QR-код обслужит целую компанию
              </p>
            </div>
            <div class="col polza-items">
              <h3 class="polza-items_title">Читается в любых условиях</h3>
              <p class="polza-items_text">
                Меню доступно в слабо-освещенном интерьере
              </p>
            </div>
          </div>
        </div>
      </section>
    </el-main>
  </el-container>
  <el-footer style="padding: 0" class="footer">
    <div class="networks">
      <!-- Section: Social media -->
      <div class="footer-icons">
        <div>
          <a class="social" href="tel:+996552171111">
            <img class="social-icon" src="/icons/telephone-icon.svg" alt="" />
          </a>
        </div>

        <div>
          <a class="social" href="mailto:valijanovdoniyorbek96@gmail.com">
            <img src="/icons/email-icon.svg" class="social-icon" alt="" />
          </a>
        </div>

        <div>
          <a class="social" href="instagram.com/shoha_isa">
            <img src="/icons/instagram-icon.svg" class="social-icon" alt="" />
          </a>
        </div>

        <div>
          <a class="social" href="facebook.com/shohruh.israilov">
            <img src="/icons/facebook-icon.svg" class="social-icon" alt="" />
          </a>
        </div>
      </div>
      <!-- Section: Social media -->
    </div>
    <Footer />
  </el-footer>
</template>

<script>
import Footer from "@/components/Footer";
export default {
  name: "Home",
  components: { Footer },
  data() {
    return {
      client: [{}],
    };
  },
  created() {
    document.querySelector("title").text = "ARTMIX цифровое qr меню";
    document.querySelector('meta[name="description"]').content =
      "Удобный и быстрый онлайн меню для вашего ресторана. QR-Меню доступно онлайн в телефоне гостя, можно не ждать официанта";
    document.querySelector('meta[property="og:title"]').content =
      "Мой реторан цифровое qr меню";
    document.querySelector('meta[property="og:url"]').content = "https://mr.kg";
    document.querySelector('meta[property="og:description"]').content =
      "Удобный и быстрый онлайн меню для вашего ресторана. QR-Меню доступно онлайн в телефоне гостя, можно не ждать официанта";
  },
  mounted() {
    this.$http.get("/restaurants").then(({ data }) => {
      this.client = data.data;
    });
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap");
/*//////////////////////////////////////*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  min-height: 58px;
}
.hero-logo {
  position: absolute;
  height: 100%;
  z-index: 5;
  left: 20px;
  display: inline-flex;
  align-items: center;
  height: 100%;
  img {
    width: 40px;
  }
  strong {
    margin-left: 15px;
    font-size: 20px;
  }
}
.social {
  width: 20px;
}
.networks {
  width: 100%;
  flex-shrink: 0;
  background-color: #e0e2e7;
}
.footer-icons {
  width: 100%;
  align-items: center;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.el-menu-demo {
  justify-content: end;
  padding-left: 50%;
  min-height: 58px;
}

.el-menu-item {
  font-size: 16px;
  font-weight: bold;
  --el-menu-hover-bg-color: #f4fb898f;
  --el-menu-text-color: #000000;
  --el-menu-active-color: #f89007;
}
.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #fff940;
}
/*/ ///////////////////////////*/
a {
  text-decoration: none;
  color: inherit;
}
#qr {
  padding-top: 50px;
}

.titleblock {
  margin-bottom: 20px;
}
.cafe {
  font-family: "Rubik", serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 52px;
  padding-top: 70px;
}
.title {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 52px;
  padding-top: 70px;
}
.title::after {
  content: "";
  bottom: -7px;
  display: block;
  width: 470px;
  height: 4px;
  border-radius: 40%;
  background-color: #fff940;
}
.block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 80px;
  justify-content: center;
}
.client {
  padding-bottom: 20px;
  max-width: 315px;
  min-width: 200px;
}
.client-link {
  text-decoration: none;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  display: block;
}

/*!*section qr*!//////////////////////////*/
.hero-title {
  text-align: center;
  margin: 40px 0 15px 20px;
  line-height: 100px;
  letter-spacing: 3px;
  font-size: 85px;
  font-weight: 500;
}
.qr-block {
  width: 100%;
  height: 550px;
  margin: 120px 0;
  background-color: #ffec97;
  border-radius: 80px;
  position: relative;
}
.qr-block-img1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 585px;
  overflow: hidden;
  border-bottom-left-radius: 80px;
}
.qr-block-img2 {
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 550px;
  overflow: hidden;
}
.qr-block-img1 img {
  width: 100%;
  height: 100%;
}
.qr-block-img2 img {
  width: 100%;
  height: 100%;
}
/*////////////////kak/////////////////////////*/
.kak {
  background-color: #333336;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding-top: 70px;
  color: #fff;
}
.kak-title {
  margin-bottom: 70px;
}
.kak-items {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.kak-items_icon {
  width: 130px;
  height: 100px;
}
.kak-items_icon img {
  width: 120px;
  height: 90px;
}
.kak-items_text {
  margin-left: 55px;
  font-size: 19px;
}
.iframe {
  margin-left: 150px;
  width: 350px;
  height: 640px;
  border: 3px solid #fcd561;
  border-radius: 35px;
}

.iframe-items svg {
  margin: 0 25px;
  width: 20px;
  height: 100%;
}
.iframe-items p {
  margin-top: 15px;
  color: #616162;
  font-size: 20px;
}
/*/ /////////////////////poprobu//////////////////////*/
.poprobuy {
  margin-top: 70px;
  background-color: #181818;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding-top: 100px;
  align-items: center;
}
.poprobuy-title {
  margin-bottom: 100px;
}
.price {
  text-align: center;
  height: 680px;
  background: linear-gradient(58.55deg, #ffcf72 11.92%, #ffef9a 94.27%);
  border-radius: 80px;
  padding: 80px 30px;
  color: #181818;
}
.price-title {
}
.price-border {
  width: 100%;
  height: 10px;
  background-color: #181818;
  margin: 30px 0;
  border-radius: 200px;
}
.price-name {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.price-media {
  max-width: 360px;
}
.price-list,
.price-text {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #58585c;
}
.poprobuy-text {
  text-align: center;
  color: #9d9fa8;
  margin: 50px 0;
}

.btn-outline-light {
  margin-bottom: 80px;
  width: 330px;
  height: 80px;
  border-radius: 50px !important;
  font-size: 26px !important;
  font-weight: bold !important;
  border: 2px solid #fcd561 !important;
}
.button {
  width: 350px;
}
.btn-outline-light a {
  text-decoration: none;
  color: inherit;
}
.btn-outline-light a:hover {
  color: inherit;
}
.btn-outline-light:hover {
  background-color: #fcd561 !important;
}
.btn-outline-light:focus {
  box-shadow: none !important;
}
/*/////////////////polza///////////////*/
.polza {
  background-image: url(/public/img/images/bg.png),
    linear-gradient(58.55deg, #ffcf72 11.92%, #ffef9a 94.27%);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 20px 0 50px;
}
.polza-title {
  margin: 80px 0;
}
.polza-items {
}
.polza-items_title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 22px;
  color: #545456 !important;
}
.polza-items_text {
  font-size: 18px;
  color: #616162;
  width: 350px;
}

.title {
  font-size: 55px;
}
/*media zapros//////////////////////////////////////*/
@media screen and (max-width: 960px) {
  .title {
    font-size: 30px;
  }
  .title::after {
    width: 265px;
  }
  .client {
    max-width: 370px;
  }
  /*////////qr/////////////////////*/
  .hero-title {
    font-size: 27px;
    letter-spacing: 0;
    line-height: 36px;
    margin: 50px 0;
  }
  .qr-block {
    height: 390px;
    margin: 15px 0;
  }
  .qr-block-img1 {
    width: 54%;
  }
  .qr-block-img2 {
    width: 50%;
  }
  .iframenone {
    display: none;
  }
  /*  //////////*/
  .poprobuy {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .kak {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .kak-items {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 500px) {
  .qr-block-img1 {
    width: 100%;
  }
  .qr-block-img2 {
    display: none;
  }
}
</style>
