<template>
  <div class="login">
    <el-card>
      <h2>Вход</h2>
      <el-form
        @submit.prevent="submitLogin"
        class="login-form"
        :model="model"
        :rules="rules"
        ref="form"
      >
        <el-form-item class="with-form" prop="username">
          <el-input
            v-model="username"
            placeholder="E-mail адрес"
            class="with-icon"
            type="email"
          >
            <template #prepend>
              <CIcon :icon="cilUser" size="lg" />
            </template>
          </el-input>
        </el-form-item>
        <el-form-item class="with-form" prop="password">
          <el-input
            v-model="password"
            placeholder="Пароль"
            type="password"
            class="with-icon"
          >
            <template #prepend>
              <CIcon :icon="cilLockLocked" size="lg" />
            </template>
          </el-input>
        </el-form-item>
        <el-form-item class="with-form">
          <el-button
            native-type="submit"
            class="login-button"
            type="primary"
            block
            >Войти</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import CIcon from '@coreui/icons'
import { cilLockLocked, cilUser } from '@coreui/icons'
import { mapActions } from 'vuex'
import 'vue-toast-notification/dist/theme-sugar.css'
export default {
  name: 'Login',
  components: {
    CIcon,
  },
  data() {
    return {
      loginError: false,
      cilLockLocked,
      cilUser,
      username: '',
      password: '',
    }
  },
  methods: {
    ...mapActions(['login']),
    submitLogin() {
      this.login({ email: this.username, password: this.password }).then(
        (res) => {
          if (res) {
            this.$router.push({ name: 'dashboard' })
          } else {
            this.$toast.error('Неправильный логин или пароль')
          }
        },
      )
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login {
  padding-top: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 100%;
}
.login-form {
  width: 290px;
}
</style>
<style lang="scss">
$teal: rgb(0, 124, 137);
.el-button--primary {
  background: $teal;
  border-color: $teal;

  &:hover,
  &.active,
  &:focus {
    background: lighten($teal, 7);
    border-color: lighten($teal, 7);
  }
}
.login .el-input__inner:hover {
  border-color: $teal;
}
.login .el-input__prefix {
  background: rgb(238, 237, 234);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 3px;
  .el-input__icon {
    width: 30px;
  }
}
.login .el-input input {
  padding-left: 10px;
}
.login .el-card {
  padding-top: 0;
}
h2 {
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  padding-bottom: 20px;
}
a {
  color: $teal;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: lighten($teal, 7);
  }
}
.login .el-card {
  width: 340px;
  display: flex;
  justify-content: center;
}
.with-icon .el-input-group__prepend {
  padding: 0 8px;
}
.with-form {
  margin-bottom: 30px;
}
</style>
