<template>
  <div class="home">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Header from "@/components/Header.vue";
import Menu from "@/views/Menu.vue";
import Footer from "@/components/Footer.vue";
import Socialnetworks from "@/components/Socialnetworks.vue";

@Options({
  components: { Socialnetworks, Footer, Menu, Header },
})
export default class Home extends Vue {}
</script>
<style>
.home {
  margin: 0;
  width: 100%;
  position: relative;
}
</style>
