<template>
  <div>
    <el-dialog
      v-model="dialogVisible"
      title="Выберите иконку"
      width="32%"
      draggable
    >
      <SetIcon v-model:icon="icon" />
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Отмена</el-button>
          <el-button type="primary" @click="changeIcon">Выбрать</el-button>
        </span>
      </template>
    </el-dialog>
    <el-row>
      <el-col :xs="24" :sm="15">
        <el-card>
          <template #header>
            <strong>Добавить категорию</strong>
          </template>
          <el-card-body>
            <el-form @submit.prevent="$emit('save')" label-position="top">
              <el-tabs type="border-card">
                <el-tab-pane
                  v-for="locale in locales"
                  :key="locale"
                  :label="locale"
                >
                  <el-form-item :label="'Название (' + locale + ')'">
                    <el-input
                      v-model="
                      /* eslint-disable-next-line vue/no-mutating-props */
                      category.locales[locale].name"
                      minlength="1"
                    />
                  </el-form-item>
                </el-tab-pane>
              </el-tabs>
              <div style="display: flex; column-gap: 30px; flex-wrap: wrap">
                <el-form-item label="Иконка">
                  <div class="icon">
                    <img
                      :src="'/category-icons/' + category.icon + '.svg'"
                      alt=""
                    />
                  </div>
                </el-form-item>
                <el-form-item label="&nbsp;">
                  <el-button
                    type="info"
                    style="max-height: 40px"
                    plain
                    @click="dialogVisible = true"
                    >Выбрать</el-button
                  >
                </el-form-item>
              </div>
              <el-form-item label="&nbsp;">
                <el-button
                  type="primary"
                  style="max-height: 40px"
                  :loading="loadSpinner"
                  native-type="submit"
                  >{{ category.id ? 'Сохранить' : 'Добавить' }}</el-button
                >
              </el-form-item>
            </el-form>
          </el-card-body>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import SetIcon from '@/components/SetIcon'
import 'vue-toast-notification/dist/theme-sugar.css'
import { locales } from '@/constants'

export default {
  name: 'AddCategory',
  components: { SetIcon },
  props: {
    loadSpinner: {
      type: Boolean,
      required: false,
    },
    category: {
      type: Object,
    },
  },
  model: { prop: 'category' },
  data() {
    return {
      locales,
      dialogVisible: false,
      icon: '',
    }
  },
  methods: {
    changeIcon() {
      // eslint-disable-next-line vue/no-mutating-props
      this.category.icon = this.icon
      this.dialogVisible = false
    },
  },
}
</script>

<style scoped></style>
