<template>
  <header
    style="position: fixed; width: 100%; z-index: 1000; left: 0"
    class="header"
  >
    <el-menu class="el-menu-demo" mode="horizontal">
      <el-menu-item index="1">
        <a href="#restaurants" data-target="#top"
          >Cafe - Рестораны</a
        ></el-menu-item
      >
      <el-menu-item index="3">Что такое QR-Menu</el-menu-item>
      <el-menu-item index="4">Как работает</el-menu-item>
      <el-menu-item index="5">Попробовать</el-menu-item>
    </el-menu>
  </header>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style scoped>
.el-menu {
  --el-menu-active-color: #fff940 !important;
}
.el-menu-demo {
  justify-content: end;
}
.el-menu-item {
  font-size: 16px;
  font-weight: bold;
  --el-menu-hover-bg-color: #f4fb898f;
}
.el-menu--horizontal .el-menu .is-active {
  color: #f89007 !important;
}
.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #fff940;
  color: #f89007 !important;
}
</style>
