<template>
  <CContainer fluid>
    <div class="col-5 addcard" style="position: relative">
      <div class="title-block">
        <h6 class="title-block-item">
          {{ product.id ? 'Изменить позицию' : 'Добавить позицию' }}
        </h6>
      </div>
      <div class="form-group addcard-items">
        <slot></slot>
        <form @submit.prevent="$emit('save')">
          <el-tabs type="border-card">
            <el-tab-pane
              v-for="locale in locales"
              :key="locale"
              :label="locale"
            >
              <label for="nameposition">Название позиции</label>
              <input
                v-model.lazy="
                /* eslint-disable-next-line vue/no-mutating-props */
                product.locales[locale].name"
                type="text"
                id="nameposition"
                class="form-control"
                aria-placeholder="Шорпо"
              />
              <label for="description">Описание <small>(не обязательно)</small></label>
              <textarea
                v-model="
                /* eslint-disable-next-line vue/no-mutating-props */
                product.locales[locale].description"
                id="description"
                cols="10"
                rows="4"
                class="form-control"
                minlength="15"
              ></textarea>
            </el-tab-pane>
          </el-tabs>
          <label for="inputCategory">Выберите категорию</label>
          <select
            v-model="
            /* eslint-disable-next-line vue/no-mutating-props */
            product.category_id"
            id="inputCategory"
            class="form-control"
            required
          >
            <option value="" hidden>Не выбрано</option>
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.locales['ru'].name }}
            </option>
          </select>
          <p class="addprice-text">Цена</p>
          <div v-for="(price, index) in product.prices" :key="index">
            <CRow class="add w-100">
              <CCol :xs="3" class="form-group">
                <label for="quantity">Кол.во</label>
                <input
                  type="number"
                  step="0.1"
                  v-model.number.lazy="price.quantity"
                  id="quantity"
                  class="form-control"
                  required
                />
              </CCol>
              <CCol :xs="4" class="form-group">
                <label for="marka">Ед.измерения</label>
                <select
                  v-model.lazy="price.measure"
                  id="marka"
                  class="form-control"
                  @change="setMeasureCode($event.target.value)"
                >
                  <option
                    v-for="measure in measures"
                    :key="measure.code"
                    :value="measure.code"
                  >
                    {{ measure.name }}
                  </option>
                </select>
              </CCol>
              <CCol :xs="4" class="form-group">
                <label for="price">Цена</label>
                <input
                  v-model.lazy="price.price"
                  type="number"
                  id="price"
                  class="form-control"
                  placeholder="100"
                  step="0.01"
                  required
                />
              </CCol>
              <CCol :xs="1" class="btn-del">
                <label for="del">&nbsp;</label>
                <button
                  @click="delPrice(index)"
                  type="button"
                  class="btn btn-outline-danger"
                >
                  <CIcon :icon="cilTrash" size="lg"></CIcon>
                </button>
              </CCol>
            </CRow>
          </div>
          <div class="addprice-btn d-flex justify-content-between">
            <button
              id="addprice"
              class="btn btn-outline-success"
              type="button"
              @click="addPrice"
            >
              Добавить цену
            </button>
          </div>
          <div class="custom-file">
            <label class="custom-file-label" for="file">Фото позиции</label>
            <input
              style="display: none"
              type="file"
              id="file"
              ref="file"
              @change="loadImage($event)"
              accept="image/*"
            />
            <div v-if="editPhoto" class="upload-example">
              <cropper
                :stencil-props="{
                  minAspectRatio: 4 / 3,
                  maxAspectRatio: 4 / 3,
                }"
                :canvas="{
                  height: 1080,
                  width: 1080,
                }"
                ref="cropper"
                class="upload-example-cropper"
                :src="image.src"
                style="max-width: 100%; max-height: 280px; margin-bottom: 5px"
              />
              <div class="button-wrapper d-flex">
                <CButton
                  color="success"
                  variant="outline"
                  type="button"
                  class="button btn-cropper"
                  @click="cropPhoto"
                >
                  Сохранить</CButton
                >
                <CButton
                  color="secondary"
                  variant="outline"
                  type="button"
                  @click="editPhoto = !editPhoto"
                  >Отменить</CButton
                >
              </div>
            </div>
            <div v-else class="product-image d-flex flex-wrap gap-2">
                  <div  v-for="(photo, index) in product.photos"  :key="index" class="product-photos-img">
                    <div class="image-block" @click="removeImg(photo)">
                      <img class="product-img" :src="photo.thumbnail" alt="" />
                      <div class="remove-img">
                        <CIcon :icon="cilTrash" size="lg"></CIcon>
                      </div>
                    </div>
                  </div>
            </div>
            <CButton
              :disabled="product.photos.length > 9"
              color="success"
              variant="outline"
              type="button"
              @click="editClick"
            >Добавить фото</CButton
            >
          </div>
          <label class="custom-file-label" for="youtube">Ссылка на Youtube <small>(не обязательно)</small></label>
          <input
            class="form-control"
            id="youtube"
            type="url"
            v-model="
            /* eslint-disable-next-line vue/no-mutating-props */
            product.youtube"
          >
          <hr/>
          <div class="form-actions">
            <el-button
              type="primary"
              native-type="submit"
              class="me-3 add_btn"
              :loading="loadSpinner"
            >
              {{ product.id ? 'Сохранить' : 'Добавить' }}
            </el-button>
            <CButton color="light" @click="goBack" class="btn-back">
              Отменить
            </CButton>
          </div>
        </form>
      </div>
    </div>
  </CContainer>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
import CIcon from '@coreui/icons'
import { cilTrash } from '@coreui/icons'
import { locales } from '@/constants'

const emptyPrice = {
  quantity: '',
  measure: '',
  price: '',
}

export default {
  name: 'MealForm',
  components: {
    Cropper,
    CIcon,
  },
  props: {
    loadSpinner: {
      type: Boolean,
      required: false,
    },
    product: {
      type: Object,
      required: true,
      default() {
        return {
          id: '',
          name: '',
          description: '',
          prices: [],
          photos: [],
          delete_photos: [],
          category: '',
          category_id: '',
          youtube: '',
        }
      },
    },
  },
  model: { prop: 'product' },
  data() {
    return {
      locales,
      editPhoto: false,
      image: {
        src: null,
        type: null,
      },
      categories: [],
      cilTrash,
    }
  },

  mounted() {
    this.$http.get('/categories').then(({ data }) => {
      this.categories = data.data
    })
  },

  computed: {
    ...mapGetters(['measures', 'measureCode']),
  },

  methods: {
    ...mapActions(['setMeasureCode']),

    cropPhoto() {
      // eslint-disable-next-line vue/no-mutating-props
      const { canvas } = this.$refs.cropper.getResult()
        // eslint-disable-next-line vue/no-mutating-props
        this.product.photos.push({ thumbnail: canvas.toDataURL("image/png", 1) })
        this.editPhoto = false
    },

    editClick() {
      this.editPhoto = true
      this.$refs.file.click()
    },

    loadImage(event) {
      const { files } = event.target
      if (files && files[0]) {
        if (this.image.src) {
          URL.revokeObjectURL(this.image.src)
        }
        const blob = URL.createObjectURL(files[0])
        const reader = new FileReader()
        reader.onload = () => {
          this.image = {
            src: blob,
          }
        }
        reader.readAsArrayBuffer(files[0])
      }
    },

    removeImg(photo) {
      if (photo.id) {
        // eslint-disable-next-line vue/no-mutating-props
        this.product.delete_photos.push(photo.id)
      }
      // eslint-disable-next-line vue/no-mutating-props
      this.product.photos = this.product.photos.filter((item) => { return  item != photo })
    },

    goBack() {
      this.$router.push({ name: 'meal-list' })
    },

    addPrice() {
      // eslint-disable-next-line vue/no-mutating-props
      this.product.prices.push({
        ...emptyPrice,
        measure: this.measureCode,
      })
    },

    delPrice(index) {
      // eslint-disable-next-line vue/no-mutating-props
      this.product.prices.splice(index, 1)
    },
  },

  unmounted() {
    if (this.image.src) {
      URL.revokeObjectURL(this.image.src)
    }
  },
}
</script>

<style scoped>
.addcard {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
}
.addcard-items {
  margin: 30px 20px;
}
.title-block-item {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}
.title-block {
  width: 100%;
  border-bottom: 1px solid #f0f0fa;
}
.form-actions {
  padding-top: 10px;
}
.form-control {
  margin-bottom: 12px;
}
.addcard label {
  margin-bottom: 5px;
  color: #000000;
}
.addprice-text {
  font-weight: bold;
}
.add {
  justify-content: space-between;
}
.addprice-btn:hover {
  background-color: inherit;
}
.addprice-btn .btn-outline-success {
  --cui-btn-active-bg: inherit;
  --cui-btn-hover-bg: inherit;
}
.add_btn {
  color: #fff;
  font-weight: 500;
}
.btn-back {
  font-weight: 500;
}
.product-photos-img {
  width: 150px;
  border: 1px solid #9d9fa8;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.product-img {
  width: 100%;
}
.image-block {
  position: relative;
  cursor: pointer;
}
.image-block:hover .remove-img{
  display: flex;
  transition: 0.3s;
}
.remove-img {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #d32a2a;
}
.remove-img:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.button-wrapper {
  column-gap: 5px;
  justify-content: end;
}
.button-wrapper .btn {
  height: 40px;
}

/*media screen*/
@media screen and (max-width: 960px) {
  .col-5 {
    width: 100%;
  }
  .addprice .col-md-3 {
    width: 65px;
  }
}
</style>
