<template>
  <div class="d-flex">
    <div class="block">
      <div class="ramka" id="block" :style="{ border: '3px solid' + qrColor }">
        <QRCodeVue3
          class="qr"
          :key="qrColor + qrType"
          :width="300"
          :height="300"
          :value="'https://mr.kg/' + restaurant.slug"
          :qrOptions="{
            typeNumber: 0,
            mode: 'Byte',
            errorCorrectionLevel: 'H',
          }"
          :imageOptions="{
            hideBackgroundDots: true,
            imageSize: 0.4,
            margin: 0,
          }"
          :dotsOptions="{
            type: qrType,
            color: '#948d0f',
            gradient: {
              type: 'linear',
              rotation: 0,
              colorStops: [{ offset: 0, color: qrColor }],
            },
          }"
          :backgroundOptions="{ color: '#ffffff' }"
          :cornersSquareOptions="{ type: 'dot', color: qrColor }"
          :cornersDotOptions="{ type: undefined, color: qrColor }"
        />
        <strong :style="{ color: qrColor }">MR.KG</strong>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import QRCodeVue3 from 'qrcode-vue3'
export default {
  name: 'QrOnly',
  components: {
    QRCodeVue3,
  },
  props: {
    restaurant: {
      type: Object,
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['qrType', 'qrColor', 'stolNumber']),
  },
  methods: {
    ...mapActions(['setQrType', 'setColor', 'setStolNumber']),
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quintessential&family=Roboto:wght@700;900&display=swap');
.d-flex {
  column-gap: 80px;
}
.ramka {
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}
.inputs {
  width: 300px;
  height: 330px;
  padding: 15px;
}
.savebtn {
  width: 120px;
  margin-top: 5px;
  margin-left: 27%;
  color: #ffffff;
  font-weight: 600;
}
</style>
