<template>
  <CCard class="inputs">
    <CCardTitle>Настройки </CCardTitle>
    <CFormLabel>Стиль QR</CFormLabel>
    <select
      class="form-control"
      @change="setQrType($event.target.value)"
      :value="qrType"
    >
      <option value="square">Квадратный</option>
      <option value="dots">Точки</option>
      <option value="rounded">Закругленный</option>
      <option value="classy-rounded">Стильный</option>
      <option value="extra-rounded">Круглый</option>
    </select>
    <label for="color">Цвет QR</label>
    <CFormInput
      :value="qrColor"
      type="color"
      name="color"
      @change="setColor($event.target.value)"
      id="color1"
    />
    <el-button class="savebtn" type="primary" @click="$emit('save')"
      >Скачать</el-button
    >
  </CCard>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'SettingsQr',
  computed: {
    ...mapGetters(['qrType', 'qrColor']),
  },
  methods: {
    ...mapActions(['setQrType', 'setColor']),
  },
}
</script>

<style scoped>
.inputs {
  width: 300px;
  height: 330px;
  padding: 15px;
}
.savebtn {
  width: 120px;
  margin-top: 5px;
  margin-left: 27%;
  color: #ffffff;
  font-weight: 600;
}
</style>
