<template>
  <div class="d-flex">
    <div id="block" class="block">
      <div class="qr-text">
        <div class="qr-menu">
          <span>ОНЛАЙН МЕНЮ</span>
        </div>
        <ol>
          <li>Откройте камеру</li>
          <li>Отсканируйте QR-код</li>
          <li>Нажмите на ссылку</li>
        </ol>
        <p class="ili">
          или <br />
          перейдите по ссылке <br />
          <strong>mr.kg/{{ restaurant.slug }}</strong>
        </p>

        <div class="ourlogo">
          <img style="width: 100%; height: 100%" src="/icons/logo.png" alt="" />
        </div>
        <div class="ourtext">Powered by <strong>MR.KG</strong></div>
      </div>
      <div
        class="qr-canvas"
        :style="{ backgroundImage: 'url(' + restaurant.photo + ')' }"
      >
        <QRCodeVue3
          class="qr"
          :key="qrColor + qrType"
          :width="170"
          :height="170"
          :value="'https://mr.kg/' + restaurant.slug"
          :qrOptions="{
            typeNumber: 0,
            mode: 'Byte',
            errorCorrectionLevel: 'H',
          }"
          :imageOptions="{
            hideBackgroundDots: true,
            imageSize: 0.4,
            margin: 0,
          }"
          :dotsOptions="{
            type: qrType,
            color: '#948d0f',
            gradient: {
              type: 'linear',
              rotation: 0,
              colorStops: [{ offset: 0, color: qrColor }],
            },
          }"
          :backgroundOptions="{ color: '#ffffff' }"
          :cornersSquareOptions="{ type: 'dot', color: qrColor }"
          :cornersDotOptions="{ type: undefined, color: qrColor }"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import QRCodeVue3 from 'qrcode-vue3'
export default {
  name: 'QrWide',
  components: {
    QRCodeVue3,
  },
  props: {
    restaurant: {
      type: Object,
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['qrType', 'qrColor', 'stolNumber']),
  },
  methods: {
    ...mapActions(['setQrType', 'setColor', 'setStolNumber']),
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quintessential&family=Roboto:wght@700;900&display=swap');
.d-flex {
  column-gap: 80px;
}
.stol-number {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
.stol-number-span {
  background: linear-gradient(
    170deg,
    rgba(29, 49, 172, 1) 0%,
    rgba(18, 115, 36, 0.5718662464985995) 100%
  );
  border-radius: 15px;
  padding: 5px 15px;
}
.block {
  width: 200mm;
  height: 100mm;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.qr-canvas {
  width: 66%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.qr-text {
  width: 35%;
  height: 100%;
  position: relative;
  color: #ffffff;
  background: linear-gradient(170deg, #324e96 34%, #529149);
  font-size: 20px;
}
.ourlogo {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.ourtext {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.qr-menu {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.ili {
  text-align: center;
  font-family: 'JetBrains Mono';
  font-size: 16px;
}
ol {
  margin-top: 35px;
  margin-left: -10px;
  font-family: 'JetBrains Mono';
  font-size: 16px;
}
li {
  margin-bottom: 10px;
}
.qr {
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
</style>
