<template>
  <div>
    <el-row>
      <el-col :xs="24" :sm="12">
        <el-card>
          <template #header>
            <strong>Пользователи</strong>
          </template>
          <el-card-body>
            <el-form @submit.prevent="$emit('save')" label-position="top">
              <el-form-item label="Имя" prop="name">
                <el-input v-model="
                /* eslint-disable-next-line vue/no-mutating-props */
                user.name" type="text" required></el-input>
              </el-form-item>
              <el-form-item label="E-mail">
                <el-input v-model="
                /* eslint-disable-next-line vue/no-mutating-props */
                user.email" type="email" required></el-input>
              </el-form-item>
              <el-form-item label="Пароль">
                <el-input
                  v-model="
                  /* eslint-disable-next-line vue/no-mutating-props */
                  user.password"
                  type="password"
                  required
                ></el-input>
              </el-form-item>
              <el-form-item label="Нормер телефона">
                <el-input
                  v-maska="'996#########'"
                  v-model="
                  /* eslint-disable-next-line vue/no-mutating-props */
                  user.phone"
                  type="text"
                  required="true"
                ></el-input>
              </el-form-item>
              <el-form-item label="Имя заведения">
                <el-input
                  v-model="
                  /* eslint-disable-next-line vue/no-mutating-props */
                  user.restaurant_name"
                  type="text"
                  required="true"
                ></el-input>
              </el-form-item>
              <el-form-item label="Cсылка заведения">
                <el-input
                  v-model="
                  /* eslint-disable-next-line vue/no-mutating-props */
                  user.restaurant_slug"
                  type="text"
                  required="true"
                ></el-input>
              </el-form-item>
              <el-button
                native-type="submit"
                style="margin-top: 10px"
                type="primary"
                :loading="loadSpinner"
                >Добавить</el-button
              >
            </el-form>
          </el-card-body>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'UserForm',
  props: {
    loadSpinner: {
      type: Boolean,
      required: false,
    },
    user: {
      type: Object,
    },
  },
}
</script>

<style scoped>
.el-form-item {
  margin-bottom: 0;
}
</style>
