<template>
  <div>
    <el-row>
      <el-col :xs="24" :sm="16">
        <el-card>
          <template #header><strong>Пользователи</strong> </template>
          <el-card-body>
            <el-button type="primary" @click="addButton"
              >Добавить пользователя</el-button
            >
            <el-table :data="users" width="100%" v-loading="loading">
              <el-table-column prop="id" label="id" width="60px" />
              <el-table-column prop="name" label="Имя" />
              <el-table-column prop="email" label="E-mail" />
              <el-table-column prop="role" label="Роль" width="80px" />
            </el-table>
          </el-card-body>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Users',
  data() {
    return {
      loading: true,
      users: [{}, {}, {}],
    }
  },
  mounted() {
    this.$http.get('/users').then(({ data }) => {
      this.users = data.data
      this.loading = false
    })
  },
  methods: {
    addButton() {
      this.$router.push({ name: 'user-add' })
    },
  },
}
</script>

<style scoped></style>
